/* Import Tailwind core */
@import "tailwindcss";

/*------------------------------------
  Fonts (Geist)
------------------------------------*/
:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Allow Tailwind classes to control colors and backgrounds */
body {
  @apply antialiased;
  font-family: var(--font-sans), system-ui, sans-serif;
  margin: 0;
  padding: 0;
}
